.vitrine {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    text-align: center;

    img {
        width: 100px;
        margin: 0 auto;
        text-align: center;
    }

    @media (max-width: 767px) {
        grid-template-columns: repeat(1, 1fr);
        gap: 4rem;
    }

    &__item {
        background-color: rgb(250, 250, 250);
        border-radius: 1rem;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: flex-start;
        min-height: 20rem;
        padding: 2rem 1rem;
        position: relative;
        text-align: center;
        &:hover {
            animation: toTop;
            animation-duration: 1s;
            box-shadow: 0 10px 20px 2px rgba(25 , 25 , 25 , .2);
        }
    }

    &__image {
        justify-content: center;
        display: contents;

    }

    &__title {
        font-size: 2rem;
        color: $color-secondary;
        text-align: center;
        width: 100%;
        margin-bottom: 0;
    }

    &__desc {
        color: $font-color-secondary;
        font-size: $font-size-default;
        margin-bottom: 3rem;
        padding: 0 1rem;
    }

    &__button {
        box-shadow: 0 5px 10px 2px #ccc;
        background-color: $color-secondary;
        border-radius: 1rem;
        color: $font-color-primary;
        font-weight: bold;
        padding: 1rem 2rem;
        font-size: $font-size-default;
        text-decoration: none;
        align-self: center;
        margin-bottom: 2rem;
        &:hover {
            box-shadow: 0 0 2px 2px $color-secondary;
        }
    }
}
